In [1]:

import pandas as pd

In [2]:
APSRTC=pd.read_csv("apsrtc.csv")
ASTC=pd.read_csv("astc.csv")
HRTC=pd.read_csv("hrtc.csv")
KSRTC=pd.read_csv("ksrtc.csv")
KTCL=pd.read_csv("ktcl.csv")
RSRST=pd.read_csv("rsrst.csv")
SBSTC=pd.read_csv("sbstc.csv")
TSRTC=pd.read_csv("tsrtc.csv")
UPSRTC=pd.read_csv("upsrtc.csv")
WBTC=pd.read_csv("wbtc.csv")

Final_df=pd.concat([APSRTC,
ASTC,
HRTC,
KSRTC,
KTCL,
RSRST,
SBSTC,
TSRTC,
UPSRTC,
WBTC],ignore_index=True)
Final_df

,route_name,route_link,bus_name,bus_type,departing_time,duration,reaching_time,star_rating,price,seats_available
0,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 1446,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",08:00,06h 40m,14:40,4.0,469.0,33 Seats available
1,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3882,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",08:30,07h 05m,15:35,4.0,469.0,27 Seats available
2,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3593,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",08:45,08h 25m,17:10,4.0,469.0,32 Seats available
3,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 35119,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),09:30,06h 15m,15:45,4.0,720.0,35 Seats available
4,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3543,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",10:15,07h 05m,17:20,4.0,469.0,23 Seats available
...,...,...,...,...,...,...,...,...,...,...
11573,Habra to Contai (Kanthi),https://www.redbus.in/bus-tickets/habra-to-con...,WBTC (CTC) HABRA - DIGHA (AC-VOLVO) - 89|04:40,Volvo AC Seater (2+2),04:40,04h 20m,09:00,3.5,385.0,34 Seats available
11574,Habra to Contai (Kanthi),https://www.redbus.in/bus-tickets/habra-to-con...,WBTC (CTC) HABRA-DIGHA via Bally - 26|05:15,Non AC Seater (2+3),05:15,03h 50m,09:05,3.5,149.0,26 Seats available
11575,Habra to Contai (Kanthi),https://www.redbus.in/bus-tickets/habra-to-con...,WBTC (CTC) HABRA-DIGHA via Bally - 26|05:35,Non AC Seater (2+3),05:35,03h 50m,09:25,3.5,149.0,32 Seats available
11576,Habra to Contai (Kanthi),https://www.redbus.in/bus-tickets/habra-to-con...,WBTC (CTC) HABRA-DIGHA via Bally - 26|06:55,Non AC Seater (2+3),06:55,04h 20m,11:15,3.5,149.0,43 Seats available
11577,Habra to Contai (Kanthi),https://www.redbus.in/bus-tickets/habra-to-con...,Santosh Bus Service,A/C Seater Push Back (2+3),05:10,04h 20m,09:30,3.5,315.0,32 Seats available

In [4]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

def connect_mysql():
    """Establish a connection to the MySQL server."""
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user="root",
            password="selva",
            port=3306
        )
        print("Connected to MySQL server")
        return conn
    except Error as e:
        print(f"Error connecting to MySQL: {e}")
        return None

def create_database(conn, database_name):
    """Create a new database if it does not already exist."""
    try:
        cursor = conn.cursor()
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
        conn.commit()
        print(f"Database '{database_name}' created or already exists.")
    except Error as e:
        print(f"Error creating database: {e}")

def use_database(conn, database_name):
    """Select the database to use."""
    try:
        cursor = conn.cursor()
        cursor.execute(f"USE {database_name}")
    except Error as e:
        print(f"Error selecting database: {e}")

def create_tables(conn):
    """Create tables in the selected database."""
    try:
        cursor = conn.cursor()
        cursor.execute('''
            CREATE TABLE IF NOT EXISTS redbus_details (
                ID INT AUTO_INCREMENT PRIMARY KEY,
                route_name VARCHAR(255) NOT NULL,
                route_link VARCHAR(255) NOT NULL,
                bus_name VARCHAR(255) NOT NULL,
                bus_type VARCHAR(255) NOT NULL,
                departing_time VARCHAR(255) NOT NULL,
                duration VARCHAR(255) NOT NULL,
                reaching_time VARCHAR(255) NOT NULL,
                star_rating FLOAT NULL,
                price FLOAT NULL,
                seats_available VARCHAR(255) NOT NULL
            )
        ''')
        conn.commit()
        print("Table 'redbus_details' created successfully or already exists.")
    except Error as e:
        print(f"Error creating table: {e}")

def insert_data_to_mysql(conn, data):
    """Insert data into the table."""
    insert_query = '''INSERT INTO redbus_details (
                        route_name,
                        route_link,
                        bus_name,
                        bus_type,
                        departing_time,
                        duration,
                        reaching_time,
                        star_rating,
                        price,
                        seats_available)
                      VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
    try:
        cursor = conn.cursor()
        cursor.executemany(insert_query, data)
        conn.commit()
        print("Values inserted successfully.")
    except Error as e:
        print(f"Error inserting data: {e}")

def load_csv_to_dataframe(csv_file_path):
    """Load CSV file into a DataFrame."""
    try:
        df = pd.read_csv(csv_file_path)
        print("CSV loaded successfully")
        print("Columns in DataFrame:", df.columns)  # Print column names
        return df
    except Exception as e:
        print(f"Error loading CSV file: {e}")
        return None

def main():
    """Main function to execute the process."""
    # Define file path and database details
    csv_file_path = 'REDBUS.csv'
    database_name = 'redbus_details'

    # Load CSV data
    df = load_csv_to_dataframe(csv_file_path)
    if df is not None and not df.empty:
        # Strip any leading/trailing spaces from column names
        df.columns = df.columns.str.strip()
        
        # Define expected columns based on CSV file
        expected_columns = ['route_name', 'route_link', 'bus_name', 'bus_type', 'departing_time', 'duration', 'reaching_time', 'star_rating', 'price', 'seats_available']
        
        # Ensure expected columns are present
        missing_columns = [col for col in expected_columns if col not in df.columns]
        if missing_columns:
            print(f"Missing columns: {missing_columns}")
            return
        
        # Prepare data for insertion
        data = df[expected_columns].values.tolist()

        # Connect to MySQL
        conn = connect_mysql()
        if conn:
            create_database(conn, database_name)
            use_database(conn, database_name)
            create_tables(conn)
            insert_data_to_mysql(conn, data)
            conn.close()
        else:
            print("Failed to connect to MySQL.")
    else:
        print("No data to insert.")

if __name__ == "__main__":
    main()

CSV loaded successfully
Columns in DataFrame: Index(['route_name', 'route_link', 'bus_name', 'bus_type', 'departing_time',
       'duration', 'reaching_time', 'star_rating', 'price', 'seats_available'],
      dtype='object')
Connected to MySQL server
Database 'redbus_details' created or already exists.
Table 'redbus_details' created successfully or already exists.
Values inserted successfully.